.tabs{
	width:100%;
}
.tab-title{
	width:100%;background-color:#0094ff;height:50px;
	font-size:0;list-style:none;
}
.tab-title>li{
	position:relative;
	font-size:16px;border:1px solid white;
	display:inline-block;height:40px;line-height:40px;
	box-sizing:border-box;margin-top:5px;margin-left:10px;
	color:white;padding-left:15px;padding-right:30px;
	border-radius:0 10px 0 0;
}
.tab-title>li.active{
	top:3px;
}
.tab-title>li.active>*{color:black;}
.tab-title>li>span{
	color:white;position:absolute;right:10px;
	cursor:pointer;
}
.tab-content{
	width:100%;
	margin-top:10px;
}	